{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'task_manager/images/favicon.ico' %}" type="images/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'task_manager/css/task_details.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
</head>
<body>
    <div class="container">
        <!-- Add Task Form -->
        <form method="POST" action="{% url 'add_task' %}" autocomplete="off">
            {% csrf_token %}
            <input class="page-title" type="text" name="name" placeholder="Enter task name">

            <table class="task-details-table">
                <tr>
                    <th>Status</th>
                    <td><input type="text" name="status" placeholder="Enter status"></td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td><input type="text" name="category" placeholder="Enter category"></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td><textarea name="description" placeholder="Enter description"></textarea></td>
                </tr>
                <input type="hidden" name="order" value="0">
            </table>

            <div class="button-container">
                <button type="submit" class="button save-task">Add Task</button>
                <a href="{% url 'home' %}" class="button back-button">Back to Tasks</a>
            </div>
        </form>
    </div>
</body>
</html>
